<a href="https://colab.research.google.com/github/We-Want-it-That-Way/Plotting/blob/main/Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import math
H=pd.DataFrame({'Name of pulsar':['J0205+6449','J0218+4232','J0437-4715','J0534+2200','J1105-6107','J1124-5916','J1617-5055','J1930+1852','J2124-3358','J2229+6114'],'po':[0.06571592849324,0.00232309053151224,0.005757451936712637,0.0333924123,0.0632021309179,0.13547685441,0.069356847,0.136855046957,0.00493111494309662,0.05162357393],'pdot':[1.93754256e-13,7.73955e-20,5.729215e-20,4.20972e-13,1.584462e-14,7.52566e-13,1.351e-13,7.5057e-13,2.05705e-20,7.827e-14],'D in Kpc':[3.200,3.150,0.157,2.000,2.360, 5.000, 4.743, 7.000, 0.410, 3.000],'Age':[5.37e+03,4.76e+08,1.59e+09,1.26e+03,6.32e+04,2.85e+03, 8.13e+03, 2.89e+03, 3.8e+09, 1.05e+04],'R_L':['NaN',466.36,13.52,2200.00,'NaN','NaN','NaN','NaN', 2.86, 13.50],'B_s':[3.61e+12,4.29e+08,4.29e+08,3.79e+12,1.01e+12,1.02e+13,3.1e+12,1.03e+13,3.22e+08,2.03e+12],
'Edot':[2.7e+37,2.4e+35,1.2e+34,4.5e+38,2.5e+36,1.2e+37,1.6e+37,1.2e+37,6.8e+33,2.2e+37],
'Edot2':[2.6e+36,2.5e+34,4.8e+35,1.1e+38,4.4e+35,4.8e+35,7.1e+35,2.4e+35,2.4e+35,2.5e+36],
'B_sI':[3.61e+12,4.27e+08,2.85e+08,3.79e+12,np.nan,np.nan,np.nan,np.nan, 1.92e+08,np.nan],
'B_Lc':[1.19e+05,3.21e+05,2.85e+04,9.55e+05,3.76e+04,3.85e+04, 8.70e+04, 3.75e+04, 2.52e+04, 1.39e+05]})

In [2]:
H

  Name of pulsar        po          pdot  ...         Edot2      B_sI      B_Lc
0     J0205+6449  0.065716  1.937543e-13  ...  2.600000e+36  3.61e+12  119000.0
1     J0218+4232  0.002323  7.739550e-20  ...  2.500000e+34  4.27e+08  321000.0
2     J0437-4715  0.005757  5.729215e-20  ...  4.800000e+35  2.85e+08   28500.0
3     J0534+2200  0.033392  4.209720e-13  ...  1.100000e+38  3.79e+12  955000.0
4     J1105-6107  0.063202  1.584462e-14  ...  4.400000e+35       NaN   37600.0
5     J1124-5916  0.135477  7.525660e-13  ...  4.800000e+35       NaN   38500.0
6     J1617-5055  0.069357  1.351000e-13  ...  7.100000e+35       NaN   87000.0
7     J1930+1852  0.136855  7.505700e-13  ...  2.400000e+35       NaN   37500.0
8     J2124-3358  0.004931  2.057050e-20  ...  2.400000e+35  1.92e+08   25200.0
9     J2229+6114  0.051624  7.827000e-14  ...  2.500000e+36       NaN  139000.0

[10 rows x 11 columns]

In [4]:
import pandas as pd
import numpy as np
import math
A=pd.DataFrame({'Name of pulsar':['J0537-6910','J0633+1746','J0543+2329','J1811-1925','J1846-0258','J0628+0909','J0633+1746','J0636-4549','J1811-4930','J1812-1718'],'po':[0.0161222220245,0.2370994416923,0.245983683333,0.06466700,0.32657128834,3.763733080,0.2370994416923,1.98459736713,1.4327041968,1.20537444137],'pdot':[5.1784338e-14,1.097087e-14,1.541956e-14,4.40e-14,7.107450e-12,0.5479e-15,1.097087e-14,3.1722e-15,2.254e-15,1.9077e-14],'D in Kpc':[49.700,0.190,1.565,5.000,5.800,1.771,0.190,0.383,1.447,3.678],'R_L':[np.nan,np.nan,71.03,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan],'Age':[4.93e+03,3.42e+05,2.53e+05,2.33e+04,728,3.59e+07,3.42e+05,9.91e+06,1.01e+07,1e+06],'B_s':[9.25e+11,1.63e+12,1.97e+12,1.71e+12,4.88e+13,8.35e+11,1.63e+12,2.54e+12,1.82e+12,4.85e+12],'Edot':[4.9e+38,3.2e+34,4.1e+34,6.4e+36,8.1e+36,1.1e+31,3.2e+34,1.6e+31,3.0e+31,4.3e+32],'Edot2':[2.0e+35,9.0e+35,1.7e+34,2.6e+35,2.4e+35,3.6e+30,9.0e+35,1.1e+32,1.4e+31,3.2e+31],'B_sI':[np.nan,1.63e+12,1.97e+12,np.nan,np.nan,np.nan,1.63e+12,np.nan,np.nan,np.nan],'B_Lc':[2.07e+06,1.15e+03,1.24e+03,5.92e+04,1.31e+04,4.09e+00,1.15e+03,3.05e+00,5.80e+00,2.60e+01]})
A

  Name of pulsar        po  ...          B_sI        B_Lc
0     J0537-6910  0.016122  ...           NaN  2070000.00
1     J0633+1746  0.237099  ...  1.630000e+12     1150.00
2     J0543+2329  0.245984  ...  1.970000e+12     1240.00
3     J1811-1925  0.064667  ...           NaN    59200.00
4     J1846-0258  0.326571  ...           NaN    13100.00
5     J0628+0909  3.763733  ...           NaN        4.09
6     J0633+1746  0.237099  ...  1.630000e+12     1150.00
7     J0636-4549  1.984597  ...           NaN        3.05
8     J1811-4930  1.432704  ...           NaN        5.80
9     J1812-1718  1.205374  ...           NaN       26.00

[10 rows x 11 columns]

In [5]:
import pandas as pd
import numpy as np
import math
R=pd.DataFrame({'Name of pulsar':['J0100-7211','J0525-6607','J1708-4008','J1808-2024','J1809-1943','J1841-0456','J1907+0919','J2301+5852','J1745-2900','J0525-6607'],'po':[8.020392, 0.35443759451370,11.0062624,7.55592,5.540742829,11.7889784, 5.198346,6.9790709703,3.763733080,8.0470],'pdot':[1.88e-11, 7.36052e-17,1.960e-11,5.49e-10,2.8281e-12,4.092e-11,9.2e-11,4.7123e-13,1.756e-11,6.5e-11],'D in Kpc':[59.700, 1.841,3.800,13.000,3.600,9.600,np.nan,3.300,8.300,np.nan],'R_L':[np.nan, 66.09,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan],'Age':[6.76e+03,7.63e+07,8.9e+03,218,3.1e+04,4.57e+03,895,2.35e+05,3.4e+03,1.96e+03],'B_s':[3.93e+14,1.63e+11,4.7e+14,2.06e+15,1.27e+14,7.03e+14,7e+14,5.8e+13,2.6e+14,7.32e+14],'Edot':[1.4e+33,6.5e+31,5.8e+32,5.0e+34,6.6e+32,9.9e+32,2.6e+34,5.5e+31,1.3e+34,4.9e+33],'Edot2':[4.0e+29,1.9e+31,4.0e+31,3.0e+32,5.1e+31,1.1e+31,np.nan,5.0e+30,1.9e+32,np.nan],'B_sI':[np.nan, 1.62e+11,np.nan,2.06e+15, 1.27e+14,np.nan,np.nan, 5.80e+13,2.60e+14,np.nan],'B_Lc':[7.14e+00,3.44e+01,3.30e+00,4.48e+01,6.98e+00,4.02e+00,4.67e+01,1.60e+00,4.57e+01,1.32e+01]})
R

  Name of pulsar         po          pdot  ...         Edot2          B_sI   B_Lc
0     J0100-7211   8.020392  1.880000e-11  ...  4.000000e+29           NaN   7.14
1     J0525-6607   0.354438  7.360520e-17  ...  1.900000e+31  1.620000e+11  34.40
2     J1708-4008  11.006262  1.960000e-11  ...  4.000000e+31           NaN   3.30
3     J1808-2024   7.555920  5.490000e-10  ...  3.000000e+32  2.060000e+15  44.80
4     J1809-1943   5.540743  2.828100e-12  ...  5.100000e+31  1.270000e+14   6.98
5     J1841-0456  11.788978  4.092000e-11  ...  1.100000e+31           NaN   4.02
6     J1907+0919   5.198346  9.200000e-11  ...           NaN           NaN  46.70
7     J2301+5852   6.979071  4.712300e-13  ...  5.000000e+30  5.800000e+13   1.60
8     J1745-2900   3.763733  1.756000e-11  ...  1.900000e+32  2.600000e+14  45.70
9     J0525-6607   8.047000  6.500000e-11  ...           NaN           NaN  13.20

[10 rows x 11 columns]

In [6]:
o=pd.concat([H,A,R],ignore_index=True)
o

   Name of pulsar         po          pdot  ...         Edot2      B_sI        B_Lc
0      J0205+6449   0.065716  1.937543e-13  ...  2.600000e+36  3.61e+12   119000.00
1      J0218+4232   0.002323  7.739550e-20  ...  2.500000e+34  4.27e+08   321000.00
2      J0437-4715   0.005757  5.729215e-20  ...  4.800000e+35  2.85e+08    28500.00
3      J0534+2200   0.033392  4.209720e-13  ...  1.100000e+38  3.79e+12   955000.00
4      J1105-6107   0.063202  1.584462e-14  ...  4.400000e+35       NaN    37600.00
5      J1124-5916   0.135477  7.525660e-13  ...  4.800000e+35       NaN    38500.00
6      J1617-5055   0.069357  1.351000e-13  ...  7.100000e+35       NaN    87000.00
7      J1930+1852   0.136855  7.505700e-13  ...  2.400000e+35       NaN    37500.00
8      J2124-3358   0.004931  2.057050e-20  ...  2.400000e+35  1.92e+08    25200.00
9      J2229+6114   0.051624  7.827000e-14  ...  2.500000e+36       NaN   139000.00
10     J0537-6910   0.016122  5.178434e-14  ...  2.000000e+35       NaN  2070000.00
11     J0633+1746   0.237099  1.097087e-14  ...  9.000000e+35  1.63e+12     1150.00
12     J0543+2329   0.245984  1.541956e-14  ...  1.700000e+34  1.97e+12     1240.00
13     J1811-1925   0.064667  4.400000e-14  ...  2.600000e+35       NaN    59200.00
14     J1846-0258   0.326571  7.107450e-12  ...  2.400000e+35       NaN    13100.00
15     J0628+0909   3.763733  5.479000e-16  ...  3.600000e+30       NaN        4.09
16     J0633+1746   0.237099  1.097087e-14  ...  9.000000e+35  1.63e+12     1150.00
17     J0636-4549   1.984597  3.172200e-15  ...  1.100000e+32       NaN        3.05
18     J1811-4930   1.432704  2.254000e-15  ...  1.400000e+31       NaN        5.80
19     J1812-1718   1.205374  1.907700e-14  ...  3.200000e+31       NaN       26.00
20     J0100-7211   8.020392  1.880000e-11  ...  4.000000e+29       NaN        7.14
21     J0525-6607   0.354438  7.360520e-17  ...  1.900000e+31  1.62e+11       34.40
22     J1708-4008  11.006262  1.960000e-11  ...  4.000000e+31       NaN        3.30
23     J1808-2024   7.555920  5.490000e-10  ...  3.000000e+32  2.06e+15       44.80
24     J1809-1943   5.540743  2.828100e-12  ...  5.100000e+31  1.27e+14        6.98
25     J1841-0456  11.788978  4.092000e-11  ...  1.100000e+31       NaN        4.02
26     J1907+0919   5.198346  9.200000e-11  ...           NaN       NaN       46.70
27     J2301+5852   6.979071  4.712300e-13  ...  5.000000e+30   5.8e+13        1.60
28     J1745-2900   3.763733  1.756000e-11  ...  1.900000e+32   2.6e+14       45.70
29     J0525-6607   8.047000  6.500000e-11  ...           NaN       NaN       13.20

[30 rows x 11 columns]

# ## Tryng for R, using the empirical equation
# ###  $R_{NS} = \frac{\dot{E}^{1/6}}{B_{s}^{1/3}P^{2/3}}$

In [10]:
R = (((o['Edot'])**(1/6))/((o['B_s'])**(1/3))*((o['po'])**(2/3)))
o['Radius']=R

Inertia

In [14]:
k = o['Edot']
l = o['po']
m = o['pdot']
MI = (k*l**3)/(4*((3.14)**2)*m)
o['I']=MI

# ### From I , B, P and Pdot
# ### From relation : $R_{ns} = (\frac{IP\dot{P}}{B_{s}^{2}})^{1/6}$

In [18]:
R2 = ((o['I']*o['pdot']*o['po'])/(o['B_s']**2))**(1/6)
o['R_2']=R2

Magnetic Momentum

In [21]:
k = MI
l = o['po']
m = o['pdot']
moment = ((3*l*m*k*((3*10**8)**3))**(1/2))/(8**(1/2)*np.pi)
o['momentum']=moment

Pdouble dot, Magnetic index values

In [24]:
o['pdoubledot'] = [4.362022e-74,1.435485e-77,1.645689e-78,3.594040e-73,3.765140e-75,3.983752e-74,2.725094e-74,3.599818e-74,8.226702e-79,2.852902e-74,2.014969e-73,1.900034e-76,2.471356e-76,1.021682e-74,6.672220e-74,3.756395e-80,1.915326e-76,7.661261e-79,1.449304e-81,1.315667e-77,2.843571e-76,5.792669e-79,1.571104e-76,9.862808e-75,9.023199e-77,2.863310e-76,3.339180e-75,9.204737e-78,1.206434e-75,9.555010e-76]
o['m_index'] = [2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0]

Breaking index, Energy Density

In [29]:
b=o['po']*o['pdoubledot']
i=o['pdot']**2
bi=b/i
o['b_i']=2-bi
o['E_Density']= [5.197004e+23,7.329435e+15,1.344718e+16,5.730662e+23,4.070692e+22,4.158539e+24,3.816843e+23,4.189682e+24,4.140784e+15,1.647759e+23,3.404310e+22,1.063169e+23,1.544215e+23,1.159887e+23,9.465151e+25,8.407745e+22,1.063169e+23,2.564554e+23,1.314073e+23,9.385028e+23,6.146583e+27,1.063405e+21,8.793794e+27,1.690987e+29,6.391975e+26,1.965530e+28,1.949545e+28,1.339982e+26,2.700298e+27,2.132199e+28]

# ### also $L_{ang} = \frac{4\pi}{5} \frac{MR^{2}}{P}$

# ### $M = \frac{5PL_{ang}}{4\pi R^{2}}$

In [34]:
ang_mom = o['I']*((2*np.pi)/o['po'])
o['A_M']= ang_mom
M_ = (5*o['po']*ang_mom)/(4*(np.pi)*(R**2))
Mc=M_/(2*10**30)
o['M_cal']=Mc

In [36]:
lu = (o['I']*o['pdot'])/(o['po'])**3

In [38]:
n=(lu/(3.826*10**33))
w=lu/(3.826*10**26)

In [40]:
o['lum']=w

In [41]:
o

   Name of pulsar         po  ...        M_cal           lum
0      J0205+6449   0.065716  ...   3.7077e+12  1.789367e+09
1      J0218+4232   0.002323  ...  3.66576e+12  1.590549e+07
2      J0437-4715   0.005757  ...  3.05051e+12  7.952744e+05
3      J0534+2200   0.033392  ...   3.7215e+12  2.982279e+10
4      J1105-6107   0.063202  ...  3.71966e+12  1.656822e+08
5      J1124-5916   0.135477  ...   3.7103e+12  7.952744e+08
6      J1617-5055   0.069357  ...  3.70799e+12  1.060366e+09
7      J1930+1852   0.136855  ...  3.80814e+12  7.952744e+08
8      J2124-3358   0.004931  ...  3.71163e+12  4.506555e+05
9      J2229+6114   0.051624  ...  3.64828e+12  1.458003e+09
10     J0537-6910   0.016122  ...  3.71586e+12  3.247370e+10
11     J0633+1746   0.237099  ...  3.66319e+12  2.120732e+06
12     J0543+2329   0.245984  ...  3.70905e+12  2.717187e+06
13     J1811-1925   0.064667  ...  3.69936e+12  4.241463e+08
14     J1846-0258   0.326571  ...  3.71972e+12  5.368102e+08
15     J0628+0909   3.763733  ...   2.3105e+13  7.290015e+02
16     J0633+1746   0.237099  ...  3.66319e+12  2.120732e+06
17     J0636-4549   1.984597  ...  3.70158e+12  1.060366e+03
18     J1811-4930   1.432704  ...   3.6849e+12  1.988186e+03
19     J1812-1718   1.205374  ...  3.70246e+12  2.849733e+04
20     J0100-7211   8.020392  ...   3.6378e+12  9.278201e+04
21     J0525-6607   0.354438  ...  3.68736e+12  4.307736e+03
22     J1708-4008  11.006262  ...  3.70241e+12  3.843826e+04
23     J1808-2024   7.555920  ...  3.69081e+12  3.313643e+06
24     J1809-1943   5.540743  ...  3.72398e+12  4.374009e+04
25     J1841-0456  11.788978  ...  3.71457e+12  6.561014e+04
26     J1907+0919   5.198346  ...  3.71843e+12  1.723094e+06
27     J2301+5852   6.979071  ...   3.7149e+12  3.645008e+03
28     J1745-2900   3.763733  ...  3.70205e+12  8.615472e+05
29     J0525-6607   8.047000  ...  3.69209e+12  3.247370e+05

[30 rows x 22 columns]